img {
  max-width: 100%;
}

/* Header */

header {
  height: 64px;
  width: 100%;
  border: red solid 1px;
  align-items: center;
}

header .content {
  display: flex;
  align-items: center;
  border: orange solid 1px;
  height: 64px;
}

header .logo {
  flex-grow: 1;
  font-size: 32px;
}

header .logo p {
  color: black;
}

header .logo span {
  color: blue;
}

.logo_pic img {
  padding-left: 24px;
}

header nav ul {
  display: flex;
  border: blue solid 1px;
  vertical-align: bottom;
}

nav li {
  padding-left: 16px;
}

nav li:last-child {
  padding-right: 24px;
}

header .mobile {
  display: none;
}

/* First Section (learn) */

.learn {
  width: 100%;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  border: orange solid 1px;
  font-family: helvetica;
  color: #303030;
  line-height: 1.3;
}

.learn_pic {
  width: 60%;
  margin: 32px 24px;
}


.learn_right {
  width: 40%;
}

.learn_text h1 {
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 32px;
}

.learn_text h3 {
  font-size: 32px;
  margin-bottom: 32px;
}

.learn_button {
  border-radius: 2px;
  background-color: #303030;
  font-size: 18px;
  font-weight: 200;
  color: white;
  text-align: center;
  max-width: 65%;
  padding: 8px 0 8px 0;
}

/* Second Section (Practice) */

.practice {
  width: 100%;
  display: flex;
  align-items: center;
}

.practice_left {
  width: 60%;
  margin: 32px 24px;
}

.practice_left img {
  border: orange solid 4px;
}

.practice_left h1 {
  padding: 32px 0 24px 0;
}

.practice_left p {
  padding: 32px 0 32px 0;
}

.practice_column {
  width: 40%;
  border: red solid 1px;
  margin: 32px 0 32px 0;
}

.practice_frame {
  display: flex;
}

.practice_frame img {
  height: auto;
  border: purple solid 2px;
}

.practice_text {
  width: 65%;
  border: pink dotted 3px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  font-size: 24px;
}

.practice_img {
  width: 35%;
  display: inline;
  border: green dotted 2px;
  margin: 16px;
}

/* Third Section (classes) */

#courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: pink solid 2px;
  background-color: grey;.
  width: 100%;
  padding: 0 72px 0 40px;
}

.classes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#courses span {
  padding-top: 32px;
  font-size: 32px;
  border: red solid 1px;
}

.class_box {
  margin: 32px 0 32px 32px;
  border: red solid 1px;
  background-color: white;
  max-width: 31%;
}

.class_img img {
  height: auto;
  width: 100%;
  border: green solid 1px;
}

.class_text  {
  margin: 16px 16px 24px 16px;
  border: blue solid 1px;
}

.class_text p {
  padding: 8px 0 8px 0;
  border: blue solid 1px;
}
